<%- include('partials/header'); -%>
  <div class="container">
    <h1>Welcome to ProjecTrack</h1>
    <p class="lead">A place to keep track of chaos.</p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.</p>
        <p>
          <a class="btn btn-dark" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.</p>
        <p>
          <a class="btn btn-dark" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.</p>
        <p>
          <a class="btn btn-dark" href="#" role="button">View details »</a>
        </p>
      </div>
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.</p>
        <p>
          <a class="btn btn-dark" href="#" role="button">View details »</a>
        </p>
      </div>
    </div>
  </div>
  <%- include('partials/footer'); -%>