html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 45px;
  font-size: 14px;
  text-align: left;
}

pre {
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-light .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s linear;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
}

footer p, footer ul {
  margin-bottom: 0;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 10px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}